.color1 {
  color: #1f1818;
}
.color2 {
  color: #42403f;
}
.color3 {
  color: #ebe3e3;
}
.color4 {
  color: #f6dd72;
}
.color5 {
  color: #fbe173;
}
.color6 {
  color: #e9e1e1;
}
.color7 {
  color: #c0baba;
}
.color8 {
  color: #454345;
}
.color9 {
  color: #5b5757;
}
.color10 {
  color: #cecbca;
}
.color11 {
  color: #666363;
}
