* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main,
.loader-wrapper {
  height: 100%;
  overflow: hidden;
}
html,
body,
main,
.loader-wrapper,
nav {
  background: rgb(68, 68, 68);
}

/* For the loading view */

.loader-wrapper {
  width: 100vw;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  width: 100px;
  height: 100px;
}

/* ...Small boxes inside, and their yellow form when loading is complete */
.box,
.yellow {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  animation: pulse 0.3s ease-in;
}

.box:nth-child(2) {
  animation-delay: 0.1s;
}
.box:nth-child(3) {
  animation-delay: 0.2s;
}
.box:nth-child(4) {
  animation-delay: 0.3s;
}

.yellow {
  background: rgb(250, 233, 135);
}

/* The top-nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 120px;
  width: 100%;
}

nav a:hover,
nav i:hover,
nav h1 {
  color: white;
}

/* The company logo */

nav h1 {
  position: relative;
  bottom: 6px;
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  font-size: max(4vw, 40px);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 400px;
  z-index: 4;
}

/* navigation links */

nav a,
nav i,
#hero {
  font-family: "Roboto", sans-serif;
}

nav a,
nav i {
  text-decoration: none;
  color: rgb(160, 160, 160);
  transition: color 1s;
}

nav i:first-of-type {
  position: relative;
}

nav :nth-child(3):not(li) {
  display: none;
  padding: 0 5px;
  border: 1px solid white;
  border-radius: 5px;
  left: -15px;
}

nav div:last-of-type i {
  position: relative;
  left: calc(-5% + 1px);
  z-index: 5;
}
/* The large text left of slideshow */
#hero {
  position: absolute;
  height: 15vw;
  transform: translate(-2px, -50px);

  z-index: 2;
  font-size: 3vw;
  color: rgb(250, 233, 135);
}

/* ...the small text under  */

small {
  color: white;
  font-size: 1.5vw;
}

/* The slideshow */

section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 40vw;
  overflow: hidden;
}

/* the next and previous slide buttons */

#nextbtn,
#prevbtn {
  height: 30px;
  width: 40px;
  padding: 10px;
  margin-top: 60%;
  background: rgba(255, 255, 255, 0.5);
  transition: background 1s;
  border: none;
  outline: none;
  z-index: 1;
}

#nextbtn:hover,
#prevbtn:hover,
#purchase:hover {
  background: white;
}
/* the arrows in the buttons */

hr {
  border: none;
  border-top: 3px solid rgb(68, 68, 68);
}

#prevbtn:before,
#prevbtn:after,
#nextbtn:before,
#nextbtn:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background: rgb(68, 68, 68);
}

#prevbtn:before {
  transform: translate(-8px, -5px) rotate(45deg);
}
#prevbtn:after {
  transform: translate(-8px, -3px) rotate(-45deg);
}
#nextbtn:before {
  transform: translate(7px, -5px) rotate(-45deg);
}
#nextbtn:after {
  transform: translate(7px, -3px) rotate(45deg);
}

/* each slide (image is set in main.js) */

section > div {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 0;
}

/* animated lines underneath slides */

#lines {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 60%;
  right: 0;
  top: calc(15% + 36vw + 80px);
  overflow: hidden;
}

/* each line */
#lines div {
  height: 100%;
  width: 1px;
  background: white;
}

/* the white background behind slides */

#background {
  position: absolute;
  top: max(17%, 120px);
  width: 60%;
  height: 22vw;
  background: white;
}

/* the purchase button */

#purchase {
  position: absolute;
  height: 30px;
  outline: none;
  border: none;
  width: max(15vw, 120px);
  transform: translate(-43vw, 18vw);
  font-size: 12px;
  font-weight: bold;
  background: rgb(160, 160, 160);
  transition: background 1s;
}

@media (max-width: 768px) {
  nav,
  nav ul {
    position: relative;
  }

  nav ul {
    display: none;
  }

  nav h1 {
    left: -4vw;
  }

  /* The collapsed navbar toggling class */
  .show {
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
    flex-direction: column;
    width: 180px;
    height: 160px;
    background: inherit;
    text-align: end;
    padding: 0px 20px 0px 10px;

    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
      both;
    animation: slide-in-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    box-shadow: 4px 4px 4px -2px rgba(0, 0, 0, 0.541);
  }
  .show > * {
    margin: 10px calc(5vw - 15px);
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.5s
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
  }

  /* Showing the hamburger icon */

  nav div:last-of-type {
    display: block;
    border: none;
  }
  nav div:last-of-type i {
    left: 0;
  }

  section,
  #background {
    width: 100vw;
    height: 50vw;
    margin-top: 100px;
  }

  #hero {
    top: 130px;
    height: 240px;
    font-size: 30px;
    margin-left: 20px;
    z-index: 3;
  }

  small {
    position: relative;
    bottom: 12px;
    left: 2px;

    font-size: 15px;
  }

  #nextbtn,
  #prevbtn {
    position: absolute;
    transform: translateY(-60vw);
    background: rgba(134, 134, 134, 0.5);
    z-index: 7;
  }

  #prevbtn {
    left: 0;
  }
  #nextbtn {
    right: 0;
  }

  #nextbtn:hover,
  #prevbtn:hover {
    background: black;
  }

  #lines {
    top: max(90vw, 520px);
    justify-content: space-between;
    width: 100vw;
  }

  #purchase {
    transform: unset;
    position: absolute;
    top: max(100vw, 600px);
    margin: 0 1vw;
    height: 60px;
    width: 200px;
  }
}

@media (max-width: 440px) {
  #lines {
    top: max(65vh, 420px);
  }

  #purchase {
    top: max(65vh, 480px);
  }
}

/* Animations */

/*    the animation classes (assigned in main.js) */

.enter-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.enter-left {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.enter-right-lines {
  -webkit-animation: slide-in-right-lines 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right-lines 1s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.enter-left-lines {
  -webkit-animation: slide-in-left-lines 1s cubic-bezier(0.645, 0.045, 0.355, 1)
    both;
  animation: slide-in-left-lines 1s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

/*    For loading boxes */
@keyframes pulse {
  100% {
    opacity: 0;
  }
}

/*    for the collapsed navbar */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* for next slides */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* for previous slides */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* for lines, when it's a next slide */
@-webkit-keyframes slide-in-right-lines {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(min(-350px, -35vw));
    transform: translateX(min(-350px, -35vw));
  }
}
@keyframes slide-in-right-lines {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(min(-350px, -35vw));
    transform: translateX(min(-350px, -35vw));
  }
}
/* for lines, when it's a previoues slide */
@-webkit-keyframes slide-in-left-lines {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(max(350px, 35vw));
    transform: translateX(max(350px, 35vw));
  }
}
@keyframes slide-in-left-lines {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(max(350px, 35vw));
    transform: translateX(max(350px, 35vw));
  }
}
