* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main,
.loader-wrapper {
  height: 100%;
  background: rgb(68, 68, 68);
  overflow: hidden;
}

.loader-wrapper {
  width: 100vw;
  position: absolute;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  width: 100px;
  height: 100px;
}

.box,
.yellow {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.774);
  display: inline-block;
  animation: pulse 0.3s ease-in;
}

.yellow {
  background: rgb(250, 233, 135);
}

.box:nth-child(2) {
  animation-delay: 0.1s;
}
.box:nth-child(3) {
  animation-delay: 0.2s;
}
.box:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes pulse {
  100% {
    opacity: 0;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 5%;
  /* approx 1/5th */
  height: 120px;
  width: 100%;

  /* rgb(68, 68, 68) */
  z-index: 5;
}

nav h1 {
  position: relative;
  bottom: 6px;
  color: white;
  font-family: "Pacifico", cursive;

  font-weight: lighter;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 400px;
}

nav a,
nav i {
  text-decoration: none;
  color: rgb(160, 160, 160);
  transition: color 1s;
  font-family: "Roboto", sans-serif;
}
nav a:hover,
nav i:hover {
  color: white;
}

nav i:first-of-type {
  position: relative;
}

nav :nth-child(3):not(li) {
  display: none;
  padding: 0 5px;
  border: 1px solid white;
  border-radius: 5px;
  left: -15px;
}

nav div:last-of-type i {
  position: relative;
  left: calc(-5% + 1px);
}

section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 40vw;
  overflow: hidden;
}

#hero {
  position: absolute;
  height: 15vw;
  transform: translate(-2px, -50px);
  /* translate(-120px); */
  z-index: 3;
  font-size: 3vw;
  font-family: "Roboto", sans-serif;
  color: rgb(250, 233, 135);
}

#background {
  position: absolute;
  top: max(17%, 120px);
  width: 60%;
  height: 30vw;
  background: white;
}

small {
  color: white;
  font-size: 1.5vw;
}

button {
  height: 30px;
  width: 40px;
  padding: 10px;
  margin-top: 60%;
  background: rgba(255, 255, 255, 0.555);
  transition: background 1s;
  border: none;
  outline: none;
  z-index: 3;
}

button:hover {
  background: white;
}

hr {
  border: none;
  border-top: 3px solid rgb(68, 68, 68);
}

button:first-of-type:before,
button:first-of-type:after,
button:last-of-type:before,
button:last-of-type:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background: rgb(68, 68, 68);
}

button:first-of-type:before {
  transform: translate(-8px, -5px) rotate(45deg);
}
button:first-of-type:after {
  transform: translate(-8px, -3px) rotate(-45deg);
}
button:last-of-type:before {
  transform: translate(7px, -5px) rotate(-45deg);
}
button:last-of-type:after {
  transform: translate(7px, -3px) rotate(45deg);
}

section > div {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 0;
}

.enter-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.enter-left {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  nav {
    position: relative;
    z-index: 3;
  }
  nav ul {
    position: relative;
    display: none;
  }
  .show {
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
    flex-direction: column;
    width: 140px;
    height: 160px;
    background: inherit;
    text-align: end;
    padding: 0px 20px 0px 10px;

    z-index: -1;
    background: rgb(68, 68, 68);

    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
      both;
    animation: slide-in-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    box-shadow: 4px 4px 4px -2px rgba(0, 0, 0, 0.541);
  }
  .show > * {
    margin: 10px;

    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.5s
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
  }

  nav div:last-of-type {
    display: block;
    border: none;
  }
  nav div:last-of-type i {
    left: 0;
  }

  section,
  #background {
    width: 100vw;
    height: 50vw;
    margin-top: 100px;
  }

  #hero {
    top: 140px;
    height: 200px;
    font-size: 30px;
    margin-left: 20px;
  }

  small {
    position: relative;
    bottom: 20px;
    left: 2px;
    font-size: 15px;
  }
  button {
    position: absolute;
    transform: translateY(-60vw);
  }
  button:first-of-type {
    left: 0;
  }
  button:last-of-type {
    right: 0;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
